<a href="https://colab.research.google.com/github/Meet200/Machine_Learning-/blob/main/Linear_regression_Normal_Equation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from numpy.linalg import inv
import matplotlib.pyplot as plt

In [33]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [34]:
cd /content/drive/"My Drive/Colab Notebooks/Linear regression"

/content/drive/My Drive/Colab Notebooks/Linear regression

In [35]:
#column name = ['x','y']
dataset = pd.read_csv("train.csv")
print(dataset)
dataset.shape

        x          y
0    24.0  21.549452
1    50.0  47.464463
2    15.0  17.218656
3    38.0  36.586398
4    87.0  87.288984
..    ...        ...
695  58.0  58.595006
696  93.0  94.625094
697  82.0  88.603770
698  66.0  63.648685
699  97.0  94.975266

[700 rows x 2 columns]

(700, 2)

In [36]:
dataf = pd.DataFrame(dataset)
x = dataf.iloc[0:700,0:1]
y= dataf.iloc[0:700,1:2]

In [43]:
data=pd.read_csv("train.csv")
cleaning_data = data.dropna()   # drops the observation for not a number
cleaning_data

        x          y
0    24.0  21.549452
1    50.0  47.464463
2    15.0  17.218656
3    38.0  36.586398
4    87.0  87.288984
..    ...        ...
695  58.0  58.595006
696  93.0  94.625094
697  82.0  88.603770
698  66.0  63.648685
699  97.0  94.975266

[699 rows x 2 columns]

In [44]:
x_data=cleaning_data['x']
y_data=cleaning_data['y']

In [45]:
x_value = x_data.values.reshape(x_train.size)
x_value.shape

(699,)

In [47]:
y_value = y_data.values.reshape(y_train.size)
y_value.shape

(699,)

In [48]:
X = np.array([np.ones(len(x_value)), x_value]).T
Y = (y_value[:, np.newaxis])

In [49]:
theta = inv(X.T.dot(X)).dot(X.T).dot(Y)
print(theta)

[[-0.10726546]
 [ 1.00065638]]